appdirs==1.4.3
asn1crypto==0.22.0
certifi==2017.4.17
cffi==1.10.0
chardet==3.0.3
cryptography==1.9
Django==1.11.1
django-extensions==1.7.9
django-paypal==0.3.6
gunicorn==19.7.1
idna==2.5
olefile==0.44
packaging==16.8
Pillow==4.1.1
psycopg2==2.7.1
pycparser==2.17
pyOpenSSL==17.0.0
pyparsing==2.2.0
pytz==2017.2
requests==2.17.3
six==1.10.0
suds-jurko==0.6
urllib3==1.21.1
Werkzeug==0.12.2
